body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f4f6f9;
    color: #222;
    line-height: 1.6;
    margin: 40px;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #003366;
    border-bottom: 3px solid #0066cc;
    padding-bottom: 10px;
    margin-bottom: 25px;
}


h2 {
    color: #004080;
    font-size: 24px;
    border-left: 5px solid #0066cc;
    padding-left: 10px;
    margin-top: 30px;
}

p {
    font-size: 17px;
    text-align: justify;
    margin: 10px 0;
}

h3 {
    color: #003366;
    margin-top: 30px;
    font-size: 20px;
    border-left: 5px solid #999;
    padding-left: 10px;
}

br {
    margin-bottom: 10px;
}

p, h2, h3 {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
